@import "tailwindcss";
@theme {
  --text-color: #4C493E;
  --color-amber: #F2DBAE;
  --color-yellow: #F9E65A;
  --color-orange: #F28749;
  --color-black: #4C493E;
  --color-blue: #6ea7ec;
  --color-blue-900: #4B68B9;
  --color-red:  #DC4443;
  --color-red-500:  #e03030;
}
.main_container{
  background: linear-gradient(to right, var(--color-blue),var(--color-blue-900));
}
.sidemenu{
  @apply w-full md:block md:w-1/4 md:max-h-dvh md:overflow-auto [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-track]:bg-blue-900 [&::-webkit-scrollbar-thumb]:bg-blue-950;
  @media (width < 768px){
    background: linear-gradient(to right, var(--color-blue),var(--color-blue-900));
  }
}
.item_pokemon_name{
  @apply p-2 bg-amber border border-transparent capitalize font-semibold cursor-pointer rounded-r-full transition-all hover:border-yellow   hover:bg-orange;
  &.item_pokemon_name--selected{
    @apply bg-orange border border-yellow;
  }
}
.container_pokemon_details{
  @apply border-4 border-blue rounded h-full content-center;
  box-shadow: 0 0 0 8px var(--color-yellow);
  background: linear-gradient(
  to bottom,
  var(--color-blue-100),
  var(--color-blue-100) 40%,
  var(--color-white) 40%,
  var(--color-white)
  );
  background-size: 100% 20px;
}